h1{
    font-family: AvenirNext-Bold;
    font-size: 18px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


li a {
    display: block;
    color: #000;
    opacity: 0.8;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: AvenirNext-DemiBold;
    font-size: 18px;
}

li a:hover{
    opacity: 1.0;
    color: #3498DB;
}

.nav-item-active{
    opacity: 1.0;
    color: #3498DB;
}

.nav-items{
    margin-top: 55px;
    padding-bottom: 120px;
    margin-bottom: 55px;
    padding-left: 40px;
    text-align: left;
    
}

.nav {
    background-color: #fcfcfc;
    width: 233px;
    height: 489px;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    margin-left: 20px;
    padding-bottom: 30px;
    box-shadow: 0 6px 28px 1px rgba(0,0,0,0.10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.text-simple-link {
    font-family: AvenirNext-Italic;
    font-size: 12px;
}
