.news-item-container {
    background-color: #fcfcfc;
    text-align: left;
    padding: 35px 40px 20px 40px;
    margin-top: 35px;
    box-shadow: 0 6px 28px 1px rgba(0,0,0,0.10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news-header-container{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-item-text-container{
    margin-top: 10px;
    margin-right: 100px;
}

/* .news-item-story-text{

} */

.news-item-story-date{
    margin-top: 25px;
    font-weight: bold;
    color: #444;
}