h1{
  font-family: AvenirNext-Bold;
  font-size: 28px;
}

h2{
  font-family: AvenirNext-Bold;
  font-size: 26px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


li a {
  display: block;
  color: #000;
  opacity: 0.8;
  padding-bottom: 36px;
  text-decoration: none;
  font-family: AvenirNext-DemiBold;
  font-size: 26px;
}

li a:hover{
  opacity: 1.0;
  color: #3498DB;
}

p {
  font-family: AvenirNext-Regular;
  font-weight: 200;
  font-size: 16px;
  line-height: 25px;
}

.App ul {
  display: flex;
  justify-content: space-between;
}

.menu-container{
  display: flex;
  flex-direction: row;
}

.app-container {
  margin-left: 300px;
  margin-top: 20px;
  padding: 30px;
}


.feature-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature-title{
  font-family: AvenirNext-DemiBold;
  font-size: 32px;  
}